body, html {
    margin:0;
    padding:0;
    background-color: beige;
    font-size: 30px;
    box-sizing:border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#logoAndName {
    display: flex;
    justify-content: center;
    margin: 10px 10px 5px 10px;
    padding: 10px;
    z-index:1000;
}

.icon {
    margin-right: 10%;
}

nav {
    position: sticky;
    top:0;
    background-color: #9ecad6e9;
    padding:10px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    height:10vh;
    margin: 10px 10px 10px 10px;
    align-items: center;
    padding:20px;
    gap:20px;
}

#dropDown {
    width:200px;
    padding: 10px;
    font-size:25px;
    background-color: rgba(255, 228, 196, 0.385);
    margin-left: auto;
    border-radius: 10%;
    height:60px
}

#dropDown :hover {
    background-color: #910404;
}

#signin:hover {
    background-color: rgba(0, 0, 255, 0.479);
    color: black;
    font-weight: bold;
}

#signup:hover {
    background-color: gray;
    color: black;
    font-weight: bold;
}

#dropDown:hover {
    background-color: rgb(238, 238, 244);
    color: rgb(34, 0, 128);
    font-weight: bold;
}

button {
    background-color: rgba(134, 237, 100, 0.522);
    color: rgb(8, 12, 243);
    width: 150px;
    height: 60px;
    font-size: 25px;
    border-radius: 10%;
    padding:10px;
}

#hero div {
    display:flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
}

#hero {
    /* height: 65vh; */
    margin: 10px 10px 10px 10px;
    padding: 20px;
    font-size:larger
}

#features {
    /* height: 40vh; */
    margin: 10px 10px 10px 10px;
    padding: 20px;
}

#features div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 1px dotted blue;
    width: 600px;
    height:400px;
    padding: 40px;
    margin:20px;
}

#footer div {
    display: flex;
    justify-content: space-around;
    height: 15 vh;
}
#footer {
    height: 20vh;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    background-color: lightgray;
}
#footer li {
    font-weight: normal;
}

.link:hover {
    color: rgba(0, 0, 255, 0.888);
    font-weight: bold;
}

/* header configurations */
/* related to local market page */

#marketsTable {
    margin: 0 auto;
    width: 1200px;
    height:200px;
    font-size: 25px;
    margin-bottom: 500px;
}

#contactContainer {
    border: 2px solid black;
    padding: 50px;
    margin: 20 px auto;
    width:600px;
    font-size:30px;
    margin: 0 auto;
}